#popular{
    padding: 20px 0 50px 0;
}

#popular h2{
    margin-bottom: 15px;
}

.carousel.wide{
    margin: 20px 0;
}
.guide-small-text{
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #676869;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    background: white;
    padding: 15px 15px;
    /*border-radius: 20px;*/
    z-index: 1000;
}
.more-content{
    margin-top: -40px;
    background: white;
    height: 40px;
}
.off-canvas-navigation header{
    padding: 15px 15px;
    color: #c2ba9a;
}

#partners{
    padding-bottom: 0px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 50px solid white;
    z-index: 1000;
    position: absolute;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}